version: "3.9"
services:
    strapiDB:
        container_name: strapiDB
        platform: linux/amd64 #for platform error on Apple M1 chips
        restart: unless-stopped
        env_file: .env
        image: postgres:12.0-alpine
        environment:
            POSTGRES_USER: ${DATABASE_USERNAME}
            POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
            POSTGRES_DB: ${DATABASE_NAME}
        volumes:
            - strapi-data:/var/lib/postgresql/data/ #using a volume
            - ./server/data:/var/lib/postgresql/data/ # if you want to use a bind folder
        expose:
            - "5432"
        networks:
            - strapi
        labels:
            - "traefik.enable=true"
            - "traefik.tcp.routers.strapiDB.entrypoints=postgres"
            - "traefik.tcp.routers.strapiDB.rule=HostSNI(`*`)"
            - "traefik.tcp.routers.strapiDB.tls=false"
            - "traefik.tcp.services.strapiDB.loadBalancer.server.port=5432"
            - "traefik.tcp.routers.strapiDB.service=postgres"

    strapi:
        container_name: strapi
        build: ./server/.
        image: strapi:latest
        restart: unless-stopped
        env_file: .env
        environment:
            DATABASE_CLIENT: ${DATABASE_CLIENT}
            DATABASE_HOST: strapiDB
            DATABASE_NAME: ${DATABASE_NAME}
            DATABASE_USERNAME: ${DATABASE_USERNAME}
            DATABASE_PASSWORD: ${DATABASE_PASSWORD}
            JWT_SECRET: ${JWT_SECRET}
            ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
            APP_KEYS: ${APP_KEYS}
            NODE_ENV: ${NODE_ENV}
            API_TOKEN_SALT: ${API_TOKEN_SALT}
            HOST: ${HOST}
        volumes:
            - ./server/config:/opt/app/config
            - ./server/src:/opt/app/src
            - ./server/package.json:/opt/package.json
            - ./server/yarn.lock:/opt/yarn.lock
            - ./server/.env:/opt/app/.env
            - ./server/public/uploads:/opt/app/public/uploads
        ports:
            - "1337:1337"
        expose:
            - "1337"
        networks:
            - strapi
        depends_on:
            - strapiDB
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.strapi.rule=Host(`titanizo.pl`)"
            - "traefik.http.routers.strapi.entrypoints=websecure"
            - "traefik.http.routers.strapi.tls.certresolver=myresolver"
            - "traefik.http.services.strapi.loadbalancer.server.port=1337"
            - "traefik.tcp.routers.strapiDB.entrypoints=postgres"
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:1337/_health"]
            interval: 30s
            timeout: 10s
            retries: 5

    nextjs:
        build:
            context: ./client/.
            dockerfile: Dockerfile
        container_name: nextjs
        env_file: .env
        restart: unless-stopped
        depends_on:
            strapi:
                condition: service_healthy
        environment:
            NEXT_PUBLIC_API_TOKEN: ${NEXT_PUBLIC_API_TOKEN}
            NEXT_PUBLIC_API_REVALIDATE: ${NEXT_PUBLIC_API_REVALIDATE}
            NEXT_PUBLIC_DEFAULT_NUMBER_OF_PRODUCTS_PER_PAGE: ${NEXT_PUBLIC_DEFAULT_NUMBER_OF_PRODUCTS_PER_PAGE}
            NEXT_PUBLIC_BRAND: ${NEXT_PUBLIC_BRAND}
            NEXT_PUBLIC_BRAND_LOGO_URL: ${NEXT_PUBLIC_BRAND_LOGO_URL}
            NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
            NEXTAUTH_URL: ${NEXTAUTH_URL}
            NEXT_PUBLIC_DATABASE_URL: ${NEXT_PUBLIC_DATABASE_URL}
            NEXT_PUBLIC_GOOGLE_CLIENT: ${NEXT_PUBLIC_GOOGLE_CLIENT}
            NEXT_PUBLIC_GOOGLE_SECRET: ${NEXT_PUBLIC_GOOGLE_SECRET}
        volumes:
            - ./client/.:/usr/src/app
        ports:
            - "3000:3000"
        expose:
            - "3000"
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.nextjs.rule=Host(`titanizo.pl`)"
            - "traefik.http.routers.nextjs.entrypoints=websecure"
            - "traefik.http.routers.nextjs.tls.certresolver=myresolver"
            - "traefik.tcp.routers.strapi.entrypoints=strapi"
            - "traefik.tcp.routers.strapiDB.entrypoints=postgres"
        networks:
            - strapi

volumes:
    strapi-data:

networks:
    strapi:
        name: Strapi
        driver: bridge
    traefik-net:
        external: true  # define an external network
