version: "3"
services:
    strapi:
        container_name: strapi
        build: ./server/.
        image: strapi:latest
        restart: unless-stopped
        env_file: .env
        environment:
            DATABASE_CLIENT: ${DATABASE_CLIENT}
            DATABASE_HOST: strapiDB
            DATABASE_PORT: ${DATABASE_PORT}
            DATABASE_NAME: ${DATABASE_NAME}
            DATABASE_USERNAME: ${DATABASE_USERNAME}
            DATABASE_PASSWORD: ${DATABASE_PASSWORD}
            JWT_SECRET: ${JWT_SECRET}
            ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
            APP_KEYS: ${APP_KEYS}
            NODE_ENV: ${NODE_ENV}
        volumes:
            - ./server/config:/opt/app/config
            - ./server/src:/opt/app/src
            - ./server/package.json:/opt/package.json
            - ./server/yarn.lock:/opt/yarn.lock
            - ./server/.env:/opt/app/.env
            - ./server/public/uploads:/opt/app/public/uploads
        ports:
            - "1337:1337"
        expose:
            - "1337"
        networks:
            - strapi
        depends_on:
            - strapiDB

    strapiDB:
        container_name: strapiDB
        platform: linux/amd64 #for platform error on Apple M1 chips
        restart: unless-stopped
        env_file: .env
        image: postgres:12.0-alpine
        environment:
            POSTGRES_USER: ${DATABASE_USERNAME}
            POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
            POSTGRES_DB: ${DATABASE_NAME}
        volumes:
            - strapi-data:/var/lib/postgresql/data/ #using a volume
            #- ./data:/var/lib/postgresql/data/ # if you want to use a bind folder
        ports:
            - "5432:5432"
        expose:
            - "5432"
        networks:
            - strapi
        labels:
            - "traefik.enable=true"
            - "traefik.tcp.routers.postgres.entrypoints=postgres"
            - "traefik.tcp.routers.postgres.rule=HostSNI(`*`)"
            - "traefik.tcp.routers.postgres.tls=false"
            - "traefik.tcp.services.postgres.loadBalancer.server.port=5432"
            - "traefik.tcp.routers.postgres.service=postgres"

    nextjs:
        build:
            context: .
            dockerfile: Dockerfile
        restart: unless-stopped
        container_name: nextjs
        volumes:
            - .:/usr/src/app
        ports:
            - "3000:3000"
        expose:
            - "3000"
        depends_on:
            - postgres
            - redis
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.nextjs.rule=Host(`juicify.app`)"
            - "traefik.http.routers.nextjs.entrypoints=websecure"
            - "traefik.http.routers.nextjs.tls.certresolver=myresolver"
            - "traefik.tcp.routers.postgres.entrypoints=postgres"
        command: npm run start

volumes:
    strapi-data:

networks:
    strapi:
        name: Strapi
        driver: bridge
