@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-neutral-900 dark:bg-neutral-950 dark:text-neutral-100;
  }

  ::selection {
    @apply bg-neutral-900 text-white dark:bg-neutral-100 dark:text-neutral-900;
  }
}
