@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply inline-block border border-black px-5 py-3 font-medium text-black transition-colors;
    }
    .button {
        @apply inline-block border-4 border-black px-5 py-3 text-center font-medium text-black transition-colors enabled:hover:bg-black enabled:hover:text-white cursor-pointer disabled:opacity-25;
    }
}
