@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply inline-block border-4 border-black px-5 py-3 text-center font-medium text-black transition-colors hover:bg-black hover:text-white;
    }
}
